[run]
branch = True
omit = 
    *__init__.py
    *manage.py
    */migrations

[report]
# exclude_lines =
#     def __init__*
#     if _name__ ==

# omit = 
#     *__init__.py
#     *manage.py
#     *settings.py
#     */migrations

fail_under = 98

[html]
title = SIA Coverage Report
directory = coverage_report